@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.main{
 width: 100%;
 height: max-content;
 margin: 0 auto;
 padding: 0 auto;
 line-height: 230%;
 font-family: Poppins;
}
.main .firstSection{
 width: 100%;
 padding: 10%;
 display: flex;
 align-items: center;
 justify-content: left;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-color: #692e01;
 background-blend-mode:soft-light;
 background-image:url("../../assets/images/about.jpg") ;
 margin: 0 auto;

}


.main .firstSection h1{
 font-size: 600%;
 color: white;
 font-weight: bold;
 
}

.main .firstSection h1::first-letter{
 font-size: 200%;
 font-weight: bolder;
}

.main .secondSection{
  
 width: 100%;
 padding: 5%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 0 auto;
}

.main .secondSection div{
 width: 45%;
 height: 90%;
 line-height: 200%;
}

.main .thirdSection{
  
 width: 100%;
 padding: 5%;
 line-height: 200%;
 display: flex;
 align-items: center;
 justify-content: left;
 margin: 0 auto;
}

 .secondSection div img{
 width: 100%;
 height: auto;
 object-fit: contain;
}


@media  screen and (max-width:1100px){

  
.main .firstSection h1{
 font-size: 500%;
 line-height: 180%;
}
.main .secondSection{
  
 width: 100%;
 padding: 5%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 margin: 0 auto;
}

.main .secondSection div{
 width:100%;
 height: max-content;
 line-height: 200%;
}
.secondSection h1{
 font-size: 180%;
}
.thirdSection h1{
 font-size: 180%;
}
}