@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

main {
  margin: 100px 0px 0px 0px;
  padding: 0 auto;
  overflow: hidden;
  font-family: Poppins;
  background-color: whitesmoke;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .firstSection {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  margin: 0px 0px 0px 0px;
  padding: 0 auto;
  position: relative;
}

main .firstSection .firstSvg {
  position: absolute;
  right: -15%;
  top: -20%;
  z-index: 3;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: orange;
}

main .firstSection .secondSvg {
  position: absolute;
  right: -12%;
  top: -20%;
  z-index: 2;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: white;
}

main .firstSection .thirdSvg {
  position: absolute;
  right: -10%;
  top: -20%;
  z-index: 1;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: orange;
}
main .firstSection .sec {
  width: 100%;
  height: 100%;
  z-index: 6;
  background-blend-mode: soft-light;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-evenly;
}
main .firstSection video {
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.3;
  object-fit: cover;
  position: absolute;
  top: 0;
}
main .firstSection .firstDiv {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: inherit;
  gap: 2%;
  justify-content: center;
}
main .firstSection .firstDiv p {
  color: orange;
  font-weight: bold;
  margin-top: 10px;
}

main .firstSection .firstDiv h1 {
  font-size: 25px;
  font-weight: 800;
  line-height: 100%;
  color: white;
}

main .firstSection .firstDiv h2 {
  width: max-content;
  height: max-content;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
  background-color: orange;
  color: white;
  font-size: 100%;
}

main .firstSection .firstDiv img {
  width: 60%;
  height: auto;
}

main .firstSection .secondDiv {
  width: 40%;
  height: 100%;
  display: flex;
  z-index: 5;
  align-items: center;
  justify-content: center;
  position: relative;
}
main .firstSection .secondDiv img:nth-of-type(1) {
  width: auto;
  border-radius: 10px;
  height: 100%;
}
main .firstSection .secondDiv img:nth-of-type(2) {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10%;
  left: 5%;
}
main .firstSection .secondDiv img:nth-of-type(3) {
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 5%;
  right: 1%;
}

main .secondSection {
  width: 100%;
  height: max-content;
  margin: 0px 0px 0px 0px;
  padding: 0 auto;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
main .secondSection .firstSvg {
  position: absolute;
  width: 500px;
  height: 500px;
  rotate: 45deg;
  background-color: rgb(1, 56, 1);
  left: -30%;
  border-radius: 10px;
  z-index: 0;
}
main .secondSection article {
  width: 80%;
  height: 80%;
  margin-left: 20%;
}

main .secondSection article h1 {
  font-size: 2rem;
  color: darkorange;
  font-weight: 700;
}

main .secondSection article h1::first-letter {
  font-size: 2rem;
  font-weight: 900;
}
main .secondSection:last-child {
  width: auto;
  height: 70%;
}
main .thirdSection {
  width: 100%;
  height: max-content;
  background-color: white;
  margin: 0px 0px 0px 0px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  overflow: hidden;
  justify-content: center;
}
main .thirdSection .firstSvg {
  width: 250px;
  height: 250px;
  rotate: 45deg;
  background-color: orange;
  border-radius: 10px;
  position: absolute;
  top: -20%;
  right: 8%;
  z-index: 0;
}
main .thirdSection .secondSvg {
  width: 200px;
  height: 200px;
  rotate: -45deg;
  background-color: orange;
  left: -5%;
  border-radius: 10px;
  position: absolute;
  top: -20%;
  z-index: 0;
}

main .thirdSection > h3 {
  font-weight: 800;
  font-size: 2.5rem;
  z-index: 2;
  color: darkorange;
}
main .thirdSection .infoGrid{
  width: 100%;
  height: max-content;
  padding: 0 auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main .thirdSection .infoGrid img[alt*="firstVec"]{
  width: 90%;
  height: auto;
  object-fit: contain;
}
main .thirdSection .infoGrid h4{
  font-size: 150%;
}

main .thirdSection .infoGrid article{
  line-height: 180%;
}
main .thirdSection .infoGrid .firstGrid{
  width: 100%;
  height: max-content;
  display: flex;

  align-items: center;
  gap: 13%;
  justify-content: space-evenly;

}
main .thirdSection .infoGrid .firstGrid div{
    width: 40%;
   
    height:max-content;
}
main .thirdSection .infoGrid .firstGrid .firstDiv{
  width: 100%;
  display: flex;
  padding-left: 5%;
    margin-bottom: 2%;
  align-items: center;
  justify-content: left;
  gap: 1%;

}
main .thirdSection .infoGrid .firstGrid .firstDiv img{
    width: 30px;
    height: 30px;
}






main .thirdSection .infoGrid .secondGrid{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 13%;
  justify-content: space-evenly;

}
main .thirdSection .infoGrid .secondGrid div{
    width: 40%;
   
    height:max-content;
}
main .thirdSection .infoGrid .secondGrid .firstDiv{
  width: 100%;
  display: flex;
  padding-left: 5%;
    margin-bottom: 2%;
  align-items: center;
  justify-content: left;
  gap: 1%;

}
main .thirdSection .infoGrid .secondGrid .firstDiv img{
    width: 30px;
    height: 30px;
}







main .thirdSection .infoGrid .thirdGrid{
  width: 100%;
  height: max-content;
  display: flex;
 
  align-items: center;
  gap: 13%;
  justify-content: space-evenly;

}
main .thirdSection .infoGrid .thirdGrid div{
    width: 40%;
   
    height:max-content;
}
main .thirdSection .infoGrid .thirdGrid .firstDiv{
  width: 100%;
  display: flex;
  padding-left: 2%;
  align-items: center;
  margin-bottom: 5%;
  justify-content: left;
  gap: 1%;

}
main .thirdSection .infoGrid .thirdGrid .firstDiv img{
    width: 30px;
    height: 30px;
}









main .thirdSection .infoGrid .fourthGrid{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 13%;
  justify-content: space-evenly;

}
main .thirdSection .infoGrid .fourthGrid div{
    width: 40%;
  
    height:max-content;
}
main .thirdSection .infoGrid .fourthGrid .firstDiv{
  width: 100%;
  display: flex;
  padding-left: 5%;
  margin-bottom: 2%;
  align-items: center;
  justify-content: left;
  gap: 1%;

}
main .thirdSection .infoGrid .fourthGrid .firstDiv img{
    width: 30px;
    height: 30px;
}





main .fourthSection {
  width: 100%;

  height: max-content;
  position: relative;
  background-color: white;

  display: flex;
  padding: 0 auto;

  margin: 0px 0px 0px 0px;
  padding: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

main .fourthSection h1 {
  margin-top: 5%;
  align-self: center;
  color: darkorange;
  font-weight: bold;
}
main .fourthSection .helpGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: no-wrap;
  gap: 10px;
  width: 95%;
  margin-top: 5%;
  justify-content: space-evenly;
}
main .fourthSection .helpGrid div {
  width: 40%;
  height: auto;
  color: rgb(0, 0, 0);
  padding: 3%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
main .fourthSection .helpGrid img {
  width: 40px;
  height: 40px;
}
main .fourthSection .helpGrid h4 {
  font-weight: 650;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

/* END OF PC STYLING  */
/* MEDIA QUERIES FOR SMALLER SCREEN STARTS HERE  */

@media screen and (max-width: 1100px) {
  main {
    width: 100%;
  }
  main .firstSection .firstDiv {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  main .firstSection .firstSvg,
  .secondSvg {
    display: none;
  }
  main .firstSection .sec img {
    width: 70%;
    height: auto;
  }

  main .firstSection .firstDiv h1 {
    font-size: 200%;
  }
  main .firstSection .secondDiv {
    display: none;
    width: 98%;
  }
  main .secondSection article {
    margin: 0 auto;
    width: 100%;
  }
  main .secondSection {
    height: max-content;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .secondSection .firstSvg {
    display: none;
  }
  main .secondSection img {
    display: none;
  }
  main .thirdSection {
    width: 100%;
    height: max-content;
  }
  main .thirdSection .infoGrid {
    display: flex;
    width: 98%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

main .thirdSection .infoGrid .firstGrid{
  width: 100%;
  height: max-content;
  display: flex;
  margin: 10% 0px 10% 0px;
  flex-direction:column ;
  align-items: center;
  gap: 13%;
  justify-content: space-evenly;

}
main .thirdSection .infoGrid .secondGrid{
  width: 100%;
  height: max-content;
  display: flex;
   margin: 10% 0px 10% 0px;
  flex-direction:column ;
  align-items: center;
  gap: 13%;
  justify-content: space-evenly;

}

main .thirdSection .infoGrid .thirdGrid{
  width: 100%;
  height: max-content;
  display: flex;
   margin: 10% 0px 10% 0px;
  flex-direction:column ;
  align-items: center;
  gap: 13%;
  justify-content: space-evenly;

}
main .thirdSection .infoGrid .fourthGrid{
  width: 100%;
  height: max-content;
  display: flex;
   margin: 10% 0px 10% 0px;
  flex-direction:column ;
  align-items: center;
  gap: 13%;
  justify-content: space-evenly;

}

main .thirdSection .infoGrid img[alt*="firstVec"]{
  margin-top: 13%;
}

main .thirdSection .infoGrid .firstGrid div{
  width: 100%;
}
main .thirdSection .infoGrid .secondGrid div{
  width: 100%;
}
main .thirdSection .infoGrid .thirdGrid div{
  width: 100%;
}
main .thirdSection .infoGrid .fourthGrid div{
  width: 100%;
}
  main .thirdSection .secondSvg {
    display: none;
  }

  main .thirdSection .infoGrid div {
    width: 100%;
  }
  main .fourthSection {
    width: 100%;
  }

  main .fourthSection .helpGrid {
    display: flex;
    width: 98%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main .fourthSection .helpGrid div {
    width: 98%;
  }
}
